*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
.externalNativeBuild
.cxx
/.kotlin/
/validation/
/.idea/
**/build/
/tools/out/
/tools/data/*.csv
__pycache__/
